html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}  

/* body{
    background-image: url(images/backgroundImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */





/* navigation bar  */
nav{
    overflow: hidden;
    font-weight: bold;
    font-size: medium;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    
}

nav li{
    margin: 20px 45px;
    padding: 10px 20px; 
    border: 2px ;
    background-color: rgba(68, 68, 68, 0.286);
    border-radius: 20px;
    
}

.style{
    padding: 10px 15px;
}

nav a{
    text-decoration: none;
    color: black;
    
}

nav li:hover{
    background-color: #7c6d6d2b ;
    cursor: pointer;
}


nav li:last-child{
    margin-left: 42rem;
    display: inline-block;
}


/* content inside the main page */

.mainPhoto {
    position: relative;
    left: 50%;
}

.intro{
    position: absolute;
    top: 25%;
    left: 10%;
}

.word1{
    font-size: 80px;
    margin-bottom: 0;
}
.word2{
    font-size: 40px;
    margin-top: 0;
}

.button{
    color: rgb(0, 0, 0);
    position: absolute;
    top: 48%;
    left: 23%;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    background-color: rgba(101, 100, 100, 0.136);
    margin: 20px 45px;
    padding: 15px 25px; 
    border: 2px ;
    border-radius: 20px;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(159, 95, 95, 0.419);
}
.button a :hover{
    color: aliceblue;
}

.socialIcons{
    position: absolute;
    top: 61%;
    left: 21%;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
}


.socialIcons a:hover i {
    color: rgb(75, 88, 209);
    transition: 0.5s;

}

.socialIcons a:last-child:hover i{
    color: rgba(177, 57, 57, 0.797);
    transition: 0.5s;
}

/* about page */
.content-box {
    border: 2px solid #333; 
    padding: 20px;          
    margin: 20px auto;      
    width: 80%;
    /* height: 50%;              */
    background-color: #f9f9f9; 
    border-radius: 10px;    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.657); /*box-shadow*/
    /* display: flex;
    flex-direction: column; */
}

.name{
    font-size: 40px;
    float: right;
    padding-right: 130px;
}
.description{
    width: 50%;
    text-align: justify;
    position: absolute;
    left: 38%;
    top: 26%;
    font-size: 20px; 
}

.box{
    border: 2px solid #333; 
    /* padding: 0px 0px 0px 20px;           */
    /* margin: 20px auto;       */
    width: 3000px;
    height: 50%;             
    background-color: #f9f9f9; 
    border-radius: 10px; 
    /* float: right; */
    /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.657); box-shadow */

}

.container{

    display: flex;
    flex-direction: row;
    gap: 20px; 
}










